---
import Layout from "../../layouts/Layout.astro";
import Othertext from "../../layouts/Othertext.astro";
import Pagetitle from "../../layouts/Pagetitle.astro";
import wishlist from "./wishlist.js";
---

<Layout title="Wishlist">
	<Pagetitle pagetitle="Wishlist" />
	<Othertext
		text="Коллекцию можно расширять бесконечно (карты с изображениями гоблинов, наброски художников, иллюстрации к романам), поэтому если Вы хотите чем-то поделиться, то смело стучитесь в Телеграмм. Ниже приведены списки недостающих карт, чтобы изначально задуманная коллекция была полной."
	/>
	<p class="centered">Гоблины</p>
	<div class="container">
		{
			wishlist.map((card, index) => (
				<>
					<div class="all">
						<div
							class="card-container"
							data-key={index}
							onmouseover={(event) =>
								showPopup(event.currentTarget.dataset.key)
							}
							onmouseout="hidePopup()"
						>
							<a href="#" onclick={`preventDefault(event)`}>
								<b>{card.name}</b>&nbsp;
							</a>
							<div class="popup" id={`popup-${index}`}>
								<img
									src={card.href}
									alt={`Popup Image for ${card.name}`}
								/>
							</div>
						</div>
						<div class="other">
							({card.set_name}, №{card.number}) {card.lang}{" "}
							{card.foil}
						</div>
					</div>
				</>
			))
		}
	</div>
	<p class="centered">Токены</p>
	<p class="centered">Околокарточные хотелки</p>
</Layout>

<style>
	.centered {
		text-align: center;
		max-width: 800px;
		margin: 0 auto;
		margin-top: 20px;
		margin-bottom: 10px;
		font-weight: bold;
	}

	.container {
		width: 100%;
		max-width: 800px;
		margin: 0 auto;
	}

	.card-container {
		margin-bottom: 10px;
		text-indent: 2em;
	}

	.all {
		display: flex;
		flex-direction: row;
	}

	.other {
		display: inline-block;
	}

	.popup {
		position: fixed;
		top: 55%;
		left: 46%;
		transform: translate(-50%, -50%);
		display: none;
		z-index: 999;
	}

	.popup img {
		max-width: 400px;
		max-height: 600px;
	}

	.card-container:hover .popup {
		display: block;
	}
</style>

<script>
	function showPopup(index) {
		const popup = document.querySelector(`#popup-${index}`);
		const img = popup.querySelector("img");
		if (popup && img) {
			const screenWidth = window.innerWidth;
			const screenHeight = window.innerHeight;
			const imgWidth = img.width;
			const imgHeight = img.height;
			const leftPos = (screenWidth - imgWidth) / 2;
			const topPos = (screenHeight - imgHeight) / 2;
			popup.style.left = `${leftPos}px`;
			popup.style.top = `${topPos}px`;
			popup.style.display = "block";
		}
	}

	function hidePopup() {
		const popups = document.querySelectorAll(".popup");
		popups.forEach((popup) => {
			popup.style.display = "none";
		});
	}

	function preventDefault(event) {
		event.preventDefault();
	}
</script>
