---
import Layout from "../../layouts/Layout.astro";
import Othertext from "../../layouts/Othertext.astro";
import Pagetitle from "../../layouts/Pagetitle.astro";
import wishlist from "./wishlist.js";
---

<Layout title="Wishlist">
	<Pagetitle pagetitle="Wishlist" />
	<Othertext
		text="Коллекцию можно расширять бесконечно (карты с изображениями гоблинов, наброски художников, иллюстрации к романам), поэтому если Вы хотите чем-то поделиться, то смело стучитесь в Телеграмм. Ниже приведены списки недостающих карт, чтобы изначально задуманная коллекция была полной."
	/>
	<p class="centered">Гоблины</p>
	<div class="container">
		{
			wishlist.map((card) => (
				<div>
					<p>
						<div class="card-name-container">
							<a href={card.href}>
								<b>{card.name}</b>
							</a>
						</div>
						({card.set_name}, №{card.number}) {card.lang}{" "}
						{card.foil}
					</p>
				</div>
			))
		}
	</div>

	<p class="centered">Токены</p>
	<p class="centered">Околокарточные хотелки</p>
</Layout>

<style>
	.centered {
		text-align: center;
		max-width: 800px;
		margin: 0 auto;
		margin-top: 20px;
		margin-bottom: 10px;
		font-weight: bold;
	}

	.container {
		width: 100%;
		max-width: 800px;
		margin: 0 auto;
		text-indent: 2em;
		text-align: justify;
	}
</style>
