---
import Layout from "../../layouts/Layout.astro";
import Othertext from "../../layouts/Othertext.astro";
import Pagetitle from "../../layouts/Pagetitle.astro";
import wishlist from "./wishlist.js";
import wishlisttokens from "./wishlisttokens.js";
---

<script>
	document.addEventListener("DOMContentLoaded", function () {
		const links = document.querySelectorAll(".picture a");
		const expandedImage = document.getElementById("expanded-image");
		const expandedImageSrc = document.getElementById("expanded-image-src");

		if (expandedImage && expandedImageSrc) {
			links.forEach((link) => {
				link.addEventListener("click", function (event) {
					event.preventDefault();
					expandedImage.style.display = "flex";
					const href = link.getAttribute("href");
					if (href) {
						expandedImageSrc.setAttribute("src", href);
					}
				});
			});

			expandedImage.addEventListener("click", function () {
				expandedImage.style.display = "none";
			});
		}
	});
</script>

<Layout title="Wishlist">
	<Pagetitle pagetitle="Wishlist" />
	<Othertext
		text="Коллекцию можно расширять бесконечно (карты с изображениями гоблинов, наброски художников, иллюстрации к романам), поэтому если Вы хотите чем-то поделиться, то смело стучитесь в Телеграмм. Ниже приведены списки недостающих карт, чтобы изначально задуманная коллекция была полной."
	/>
	<p class="right">Обновлено 12.12.2024</p>
	<h3 class="centered">----- ГОБЛИНЫ -----</h3>
	<div class="wishlist-container">
		{
			wishlist.map((card) => (
				<div class="card">
					<div class="picture">
						<a href={card.href}>
							<b>{card.name}</b>
						</a>
					</div>
					<div class="other">
						({card.set_name}, №{card.number}) {card.lang}{" "}
						{card.foil}
					</div>
				</div>
			))
		}
		<div id="expanded-image" class="expanded-image">
			<img
				id="expanded-image-src"
				class="expanded-image-content"
				src=""
				alt="Увеличенное изображение"
			/>
		</div>
	</div>
	<h3 class="centered">----- ТОКЕНЫ -----</h3>
	<div class="wishlist-container">
		{
			wishlisttokens.map((card) => (
				<div class="card">
					<div class="picture">
						<a href={card.href}>
							<b>{card.name}</b>
						</a>
					</div>
					<div class="other">
						({card.set_name}, №{card.number}) {card.lang}{" "}
						{card.foil}
					</div>
				</div>
			))
		}
	</div>
	<h3 class="centered">----- ДРУГИЕ ХОТЕЛКИ -----</h3>
	<div class="wishlist-container">
		<div class="card">
			<div class="picture">
				<a
					href="https://www.cardtrader.com/uploads/blueprints/image/46983/goblin-relic-token-relic-tokens-eternal-collection.jpg"
				>
					<b>Goblin Relic Token</b>
				</a>
			</div>
			<div class="other">(Relic Tokens: Eternal Collection)</div>
		</div>
		<div class="card">
			<div class="picture">
				<a
					href="https://eadn-wc03-13179282.nxedge.io/wp-content/uploads/2022/10/goblins-363105-f0hoIA7F.jpg"
				>
					<b>Goblin Guide & Goblin Bushwhacker</b>
				</a>
			</div>
			<div class="other">(Unpainted Magic Miniatures)</div>
		</div>
		<div class="card">
			<div class="picture">
				<a
					href="https://www.xl-shop.com/xlshop/product_images/HAS/HAS_MTGKikiJiki1.jpg"
				>
					<b>Kiki-Jiki, Mirror Breaker</b>
				</a>
			</div>
			<div class="other">(Statue)</div>
		</div>
	</div>
</Layout>

<style>
	.centered {
		text-align: center;
		max-width: 800px;
		margin: 0 auto;
		margin-top: 20px;
		margin-bottom: 10px;
		font-weight: bold;
	}

	.right {
		text-align: right;
		max-width: 800px;
		margin-right: 1em;
		margin-top: 20px;
		margin-bottom: 10px;
		font-style: oblique;
	}

	.wishlist-container {
		width: 100%;
		max-width: 800px;
		margin: 0 auto;
		text-indent: 1em;
	}

	.card {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		width: 100%;
		margin-bottom: 10px;
	}

	.picture {
		flex: 0 0 auto;
	}

	.other {
		flex: 1 1 auto;
		min-width: 0;
	}

	.expanded-image {
		display: none;
		justify-content: center;
		align-items: center;
		position: fixed;
		z-index: 9999;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgba(0, 0, 0, 0.7);
	}

	.expanded-image-content {
		max-width: 90%;
		max-height: 90%;
		object-fit: contain;
	}

	@media (max-width: 800px) {
		.card {
			flex-direction: column;
			align-items: flex-start;
		}

		.picture {
			margin-right: 0;
			margin-bottom: 5px;
		}

		.other {
			width: 100%;
		}
	}
</style>
